html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 20px;
}

html {
  background-image: linear-gradient(lightgray, white);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  border-top: 5px double #5a708a;
  background-color: #252546;
  color: #0179FE;
  padding: 30px;
  text-align: center;
  font-size: 0.6rem;
  line-height: 2;
}