html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 21px;
}

html {
  /* background-image: linear-gradient(rgba(247, 248, 255,.25), #E6F4F1); */
  background-image: linear-gradient(to bottom, #f7f8ff, #daddee, #bec2dc, #a2a8cb, #878eba);
}

* {
  box-sizing: border-box;
  --base-color: #007AFF;
}

a {
  color:#007AFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  border-top: 5px double #5a708a;
  /* background-color: #252546; */
  background-image: linear-gradient(#252546, #06022c);
  color: #0179FE;
  padding: 30px;
  text-align: center;
  font-size: 0.6rem;
  line-height: 2;
}