.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  font-family: "Caveat", cursive;
  font-style: italic;
}

.headingXl {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  font-family: "Caveat", cursive;
}

.headingX2Center {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  font-family: "Caveat", cursive;
  text-align: center;
}

.headingBlackBg {
  background-color: #000000;
  color: #ffffff;
}

.headingLastPublish {
  background-color: #06022c;
  background-image: linear-gradient(#06022c, #252546, #06022c);
  color: #007aff;
  padding: 2em;
}

.boxes {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 0.5rem;
  /* border-top: 3px double gray;
    border-bottom: 1px solid gray; */
  align-items: center;
  justify-content: start;
  padding: 0.8rem;
  border-radius: 0.75rem;
  border: 2px solid #252546;
  background-image: radial-gradient(
    farthest-corner at 50% 0%,
    #fff,
    rgba(10, 109, 151, 0.2)
  );
}

.videoList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.thumb {
  grid-row-start: 1;
  grid-row-end: 4;
}

.headingLg {
  font-size: 1rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 0.75rem;
  line-height: 1.5;
  margin: auto;
}

.headingMdCenter {
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
  max-width: 45rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.footerLogo {
  margin-left: auto;
  margin-right: auto;
  width: 4rem;
}

.footerFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerFlex > div {
  margin: 5px;
  width: 60px;
}

.link {
  font-weight: bold;
}
